<div class="row">
  <aside class="col-md-4 col-xs-12">
    <section class="user_info">
      
        <%= gravatar_for current_user %>
      
    </section>
  <div class="row">
    <div class="col-sm-11 down-gravatar">
      <%= form_for(@post) do |f| %>
        <%= f.label :Post %>
        <%= f.text_field :body, class: 'form-control post-no-wrap' %>

      <%= f.submit "Create Post", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  </aside>
  <div class="col-xs-12 col-md-6 post-area">
    <% @posts.each do |post| %>
      <div class="each_post ind-post">

        <div class="post-sender-area">
          <div class="gravatar-area">
            <%= gravatar_for post.user %>
            <div>
            <h4> <%= post.user.first_name %> </h4>
            <span> <small> posted <%= distance_of_time_in_words(Time.now, post.updated_at) %> ago </small> </span>
            </div>
          </div>
        </div>
  
        <div class="post-body w-80"> 
          <%= post.body %>
          <% if current_user == post.user %>
          <div class="edit-delete-area">
            <%= link_to 'Edit', edit_post_path(post), class:"links edit" %>
            <%= link_to 'Delete', post_path(post), class:"links delete",
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
              </div>
            <% end %>
        </div>
    <div class="like-comment-area">
    
    <% if like = post.likes.find_by(user: current_user) %>
    <div class='like-area'>
      <%= link_to like_path(like), method: :delete, class:"d-inline", form_class: "unlike-button"  do %>
        <i class="fas fa-thumbs-up"></i>
        <%end%>
      <small class="d-inline"> <%= post.likes.size %> </small>
    </div>

    <% else %> 

    <%= form_for @like  do |f| %>
      <p>
        <%= f.hidden_field :post_id, value: post.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
      </p>

      <%= f.button :submit, :class => 'like-button' do %>
        <i class="far fa-thumbs-up"></i>
      <% end %>

      <span><small class="d-inline">
        <%= post.likes.size %>

      </small>
      </span>
    <% end %>
  <% end %>
  <span class="comment-direct">
    <i class="fas fa-comment"></i> 
    <span class="comment-msg"> Add your comment below</span>
  </span>
  </div>
  <div class="the-line"></div>
  <%= form_for @comment, :class => "comment-form"  do |f| %>
    <%= f.text_area :body, placeholder: "your comment", class:"comment-area" %>
    <%= f.hidden_field :post_id, value: post.id %>
    <%= f.submit 'Send Your Comment', class:"comment-submit" %>
<% end %>
<div class="the-line"></div>
    <% if post.comments.any? %>
      <% post.comments.each do |comment| %>

        <div class="comment-sender-area">
        <div class="gravatar-area">
          <%= gravatar_for comment.user %>
          <div>
          <h4> <%= comment.user.first_name %> </h4>
          <span> <small> commented <%= distance_of_time_in_words(Time.now, comment.updated_at) %> ago </small> </span>
          </div>
        </div>
       
        <div class="direct-comment">
          <div class="comment">
            <%= comment.body %>
            <% if current_user == comment.user %>
              <div class="edit-delete-area">
                <%= link_to 'Edit', edit_comment_path(comment), class:"links edit" %>
                <%= link_to 'Delete', comment_path(comment), class:"links delete",
                                               method: :delete,
                                               data: { confirm: 'Are you sure?' } %>
              </div>
              
            <% end %>
          </div>
        </div>
      </div>
      <div class="the-line"></div>
    <% end %>
    <% end %>
  </div>
    <% end %>
</div>

